.grid{
    border: 5px solid chocolate;
}

.grid__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: sans-serif;
    font-size: 48px;
}

.grid__item:nth-child(3n +1 ){
    background-color: aqua;
}

.grid__item:nth-child(3n + 2){
    background-color: crimson;
}

.grid__item:nth-child(3n){
    background-color: chocolate;
}
